<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <!-- Header do site -->
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <header>
    <div class="logo">
        <h1><a href="/">Zambia Store</a></h1>
    </div>
    <nav class="navbar">
        <ul class="menu">
            <li class="menu-item">
                <a href="#">Departamentos</a>
                <ul class="submenu">
                    {% for cat in categories %}
                        <li>
                            <a href="/categoria/{{ cat.descategory|lower|replace({' ':'-', 'ç':'c', 'ã':'a', 'é':'e', 'í':'i', 'ó':'o', 'õ':'o', 'ú':'u'}) }}">
                                {{ cat.descategory }}
                            </a>
                        </li>
                    {% else %}
                        <li><em>Nenhuma categoria</em></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="menu-item"><a href="#">Periféricos</a></li>
            <li class="menu-item"><a href="#">Contato</a></li>
        </ul>
    </nav>
  </header>
  <main>
