
<div class="sidebar">
    <h4>Admin</h4>
    <a href="/admin">Dashboard</a>
    <a href="/admin/categorias">Categorias</a>
    <a href="/admin/produtos">Produtos</a>
    <a href="/admin/pedidos">Pedidos</a>

    <hr>
    
</div>
<div class="content">
    <main>
        {% block content %}{% endblock %}
    </main>
</div>
